.allContent{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    justify-content: center;
}

.eventDateImg{
    width: 80%;
    height: 150px;
    margin-top: 10px;
    background-color: rgb( 255, 220, 53);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
}

.singImgBox{
    width: 50%;
    overflow: hidden;
}

.singerImg{
    width: 100%;
}

.infobox{
    width: 50%;
    // border: solid rgb(128, 240, 173);
    display: flex;
    flex-wrap: wrap;
}

.textSing{
    font-size: 12px;
    margin-left: 10px;
    width: 100%;
    &--title{
        margin-bottom: 15px;
        margin-top: 15px;
        font-size: 20px;
        font-weight: 600;
    }
}

.infoBajo{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.hourAndLike{
    width: 100%;
    height: 10%;  
    margin-left: 10px;
}

.iconAndHour{
    display: flex;
    font-size: 15px;
}

.miniIcons{
    width: 15px;
    margin-right: 7px;  
    
    &--small{
        margin-top: 10px;
    }
}

.like{
    width: 30px;
    margin-right: 10px;
}

.buttonsBox{
    display: flex;
    width: 80%;
    height: 40px;
    margin-top: 30px;
}

.button{
    width: 90px;
    margin-right: 10px;
    border-radius: 50px;
    border: none;
}

.infoConcert{
    // border: solid salmon;
    width: 80%;
    margin-top: 30px;

    &--infoLarge{
        margin-bottom: 100px;
    }
}

.infoEvent{
    width: 80%;
    margin-top: 30px;
    color: white;
}

.boxHead{
    width: 100%;
    // border: solid salmon;
    left: 0px;
}

.btnShare{   
    width: 30%;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(  1, 145, 142);
    color: #ffffff;
    border: none; 
    
}

.texts{
    color: white;
    font-size: 12px;
    line-height: 15px;
    word-spacing: 5px;
    font-weight: 50;
    opacity: 50%;
    text-justify: newspaper;
}