.generalentradas1{
    background-color: #3F3B6C;
    @media (min-width: 576px){
        display: flex;
        width: 100%;
        height: 95vh;
    }
}

.fotocomprarentrada1{
    width: 100%;
    height: 7vh;
    border: solid 1px orange;
    padding-top: 20vh;
    margin-bottom: 4vh;
    display: flex;
    justify-content: flex-end;
    @media (min-width: 576px){
        margin-left: 1%;
        margin-bottom: 19vh;
        // width: 75%;
        height: 31vh;
        margin-top: 2vh;
    }
}

.h1entradas1{
    margin-bottom: 2vh;
    display: flex;
    @media (min-width: 576px){
       margin-top: 4%;
       margin-bottom: 4%;
       font-size: 50px;
    }
}

.imagenpequeña{
    border: solid 1px yellow;
    width: 6vh;
    height: 75%;
    // height: 7vh;
    margin-right: 2vh;
    border-radius: 10px;
    @media (min-width:678px){
        width: 20%;
        height: 40%;
        margin-right: 7%;
        margin-top: 17%;
        display: flex;
        flex-direction: row-reverse;
    }
}

.comprarentradagrande{
    padding-left:7%;
    padding-right:7%;
    padding-top: 13vh;
    // border: 1px solid red;
    color: white;
    @media (min-width:678px){
        padding-top: 1vh;
        // height: 80%;
        width: 41%;
        padding-right: 2%;
        padding-left: 4.5%;
        padding-right: 4.5%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        align-items: center;

    }
}

.sala{
    padding-left:7%;
    padding-right:7%;
    color: white;
    line-height: 4vh;
    width: 100%;
}

.agrupacionmapa{
    @media (min-width: 576px){
        // border: solid 3px green;
        width: 50%;
        padding-top: 22vh;
        font-size: 25px;
    }
}

.alineado{
    height: 100%;
    padding-left:7%;
    padding-right:7%;
    line-height: 3.5vh;
    color: white;
    // @media (min-width: 576px){
    //     width: 100%;
    //     height: 50vh;
    // }
}

.mapa{
    border: solid 1px yellow;
    border-radius: 15px;
    margin-top: 2vh;
    height: 18vh;
    @media (min-width: 576px){
        width: 100%;
        height: 25vh;
    }
}

.precioyboton{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (min-width: 576px){
    }
}

.comprarahora{
    margin-top: 3vh;
    width: 20vh;
    height: 6vh;
    background-color: yellow;
    border-radius: 15px;
    
}

.precio{
    margin-top: 3vh;
    margin-right: 3vh;
}

.background{
    background-color: #3F3B6C;
}