.general{
    background-color: #3F3B6C;
    min-height: 700px;
    max-height: 100%;
    width: 100%;
    // border: solid 1px salmon; 
}

.header{
    background-color: #312d59;
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0%;
}

.headertext{
    color: white;
    text-align: center;
    margin-top: 30px;
}