
.h1{
    color: #accedd;
}

.h3{
    color: white;
}

.grupobotones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @media (min-width:678px){
    }
}

.botonhome{
    width: 30%;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(  1, 145, 142);
    color: #d5cce4;
    border: none;
    margin-top: 15vh;
    @media (min-width:678px){
        font-size: 30px;
        margin-bottom: 1%;
        height: 60px;
    }
}

.titulos{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 15%;
    @media (min-width:678px){
        font-size: 30px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

.h4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    color: #CEE5D0;
    @media (min-width:678px){
        font-size: 25px;  
        margin-bottom: 2%;
     
    }
}

.secction2{
   width: 100%; 
   border: solid 0.5px #3F3B6C; //este no quitar
}

.galeria{
    // border: solid 1px orange;
    height: 100%;
    margin-top: 1%;
    display: flex;
    overflow: scroll;
    
    @media (min-width:678px){
        margin-top: 2%;
    }
}

::-webkit-scrollbar {display: none;}

.individual{
    // border: solid 1px red;
    width: 110px;
    height: 110px;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 15px;
    overflow: hidden;
    display: flex;
    align-content: center;
    position: static;
    
    @media (min-width:678px){
      width: 300px;
      height: 300px;
      margin-right: 15px;
      margin-left: 15px;
    }
}

.singerPhoto{
    width: 100%;
    display: flex;
    justify-content: center;
}

.divcompleto{
    width: 100%;
    // border: solid 1px greenyellow;
    height: 20vh;
    margin-bottom: 5%;
    // margin-top: 12%;
    
    @media (min-width:678px){
      height: 100%;
      }

    &--last{
        margin-bottom: 22%;
    }
}



